---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1>Here's what we found !</h1>
  <div id="searchResults"></div>

  <script type="module">
    const params = new URLSearchParams(window.location.search);
    const query = params.get('query');
    const apiKey = '1f5cc1984674fe6c03079be1ed3533d5';

    if (query) {
      fetch(`https://api.themoviedb.org/3/search/multi?api_key=${apiKey}&query=${encodeURIComponent(query)}&language=en-US`)
        .then(response => response.json())
        .then(data => {
          if (data.results && data.results.length > 0) {
            displayResults(data.results);
          } else {
            document.getElementById('searchResults').innerHTML = `<p>No results found for "${query}".</p>`;
          }
        })
        .catch(error => {
          console.error('Error fetching data:', error);
          document.getElementById('searchResults').innerHTML = `<p>There was an error processing your request.</p>`;
        });
    } else {
      document.getElementById('searchResults').innerHTML = '<p>No search query provided.</p>';
    }

    function displayResults(results) {
  const resultsContainer = document.getElementById('searchResults');
  resultsContainer.innerHTML = '';

  results.forEach(result => {
    if (result.media_type === 'movie') {  // specify to only display movies
      const movieDiv = document.createElement('div');
      movieDiv.classList.add('result');

      let posterPath = result.poster_path 
        ? `https://image.tmdb.org/t/p/w500${result.poster_path}` 
        : '/src/assets/noPoster.svg';

      movieDiv.innerHTML = `
        <img src="${posterPath}" alt="${result.title || result.name}" />
        <div>
          <h3>${result.title || result.name}</h3>
          <p>Year: ${result.release_date ? result.release_date.substring(0, 4) : 'N/A'}</p>
        </div>
      `;
      resultsContainer.appendChild(movieDiv);
    }
  });
}
  </script>
</Layout>
